body{
    background-color: black;
    color: white;
}
.navbar{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: color(srgb rgb(241, 240, 240) rgb(237, 241, 237) rgb(243, 243, 248));
}