body{
    background-color: black;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.left-group, .right-group{
    display: flex;
    align-items: center;
    gap: 20px;
}
.search-bar{
    color: grey;
    display: flex;
}
button{
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    padding: 10px;
    margin: 10px;
    border-radius: 100px;
}
.home-btn{
    text-decoration: none;
    color: white;
}