.subscribe-button {
  color: white;
  background-color: rgb(204, 0, 0);
  border: none;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
}
/* this is a pseudo class ----> this makes changes to existing CSS when we hover over it */
.subscribe-button:hover {
  opacity: 0.7;
}
/* applies styles while the element is being activated by the user. */
.subscribe-button:active {
  opacity: 0.4;
}

.join-button {
  color: rgb(0, 173, 241);
  background-color: white;
  padding: 9px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 170, 237);
  cursor: pointer;
  transition:
    background-color 0.15s,
    color 0.15s,
    opacity 0.15s;
}
.join-button:hover {
  color: white;
  background-color: rgb(0, 173, 241);
}
.join-button:active {
  opacity: 0.7;
}

.tweet-button {
  color: white;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(5, 165, 228);
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 20px;
  margin-left: 8px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}
.tweet-button:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.apply {
  color: white;
  font-weight: bold;
  background-color: rgb(10, 102, 194);
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 20px;
  margin-left: 8px;
  cursor: pointer;
  transition: filter 0.15s;
}
.apply:hover {
  filter: brightness(80%);
}
.save-button {
  border-radius: 20px;
  font-weight: bold;
  width: 70px;
  transition: filter 0.15s;
}
.save-button:hover {
  color: rgb(0, 173, 241);
  background-color: rgb(210, 210, 223);
  filter: brightness(100%);
}

.cart-button {
  color: black;
  background-color: rgb(255, 216, 20);
  width: 200px;
  margin-top: 8px;
  transition: filter 0.15s;
}
.cart-button:hover {
  filter: brightness(80%);
}

.get-started-button {
  background-color: rgb(121, 82, 179);
  font-weight: bold;
  margin-left: 8px;
}
.get-started-button:hover {
  background-color: rgb(160, 117, 200);
}

.download-button {
  color: rgb(121, 82, 179);
  background-color: white;
  width: 100px;
  border-color: rgb(121, 82, 179);
  transition:
    background-color 0.15s,
    color 0.15s;
}
.download-button:hover {
  color: white;
  background-color: rgb(167, 161, 161);
  border: none;
}

.request-button {
  background-color: black;
  margin-left: 8px;
  transition: opacity 0.15s;
}
.request-button:hover {
  opacity: 0.8;
}
.shadow {
  color: white;
  background-color: rgb(243, 232, 24);
  margin-right: 40px;
  border: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: box-shadow 0.15s;
}
.shadow:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}
.glance {
  color: white;
  background-color: red;
  margin: 10px;
  border: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  transition: transform 0.15s;
}
.one:hover,
.two:hover,
.three:hover {
  transform: scaleX(1.2);
}
.stretch {
  color: white;
  background-color: rgb(67, 36, 113);
  border: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: transform 0.5s;
  transform-origin: top left;
}
.stretch:hover {
  transform: scale(1.2);
}
.pagination button {
  color: white;
  background-color: rgb(213, 85, 38);
  border: none;
  padding: 10px 25px;
}
