.search-bar {
    display: block;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15p x;
    width: 600px;
    height: 40px;
    margin: 0 auto;
    padding: 0 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.search-bar:focus {
    outline: none;
}

.search-bar::placeholder {
    color: rgba(0, 0, 0, 0.5);
}


.video-preview {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    width: 350px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
.video-preview:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.thumbnail-image {
    width: 350px;
    border-radius: 10px;
}

.video-info{
    display: block;
    margin-top: 5px;
}

.channel {
    display: inline-block;  
    vertical-align: top;  
    margin-right: 10px;
    height: 100px;
}
.channel-image {
    width: 40px;
    border-radius: 50px;
}

.title-author-stats{
    display: inline-block;
    width: 280px;
}
.video-title{
    font-weight: 500;
}    
.video-author, .video-stats{
    display: block;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    margin-top: 5px;
}

