p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.youtube-icon {
  color: red;
}

.apple-icon {
  color: rgb(149, 149, 149);
}

svg {
  transform: scale(1.5);
  margin-bottom: 10px;
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 20px;
}

.video-author {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 20px;
}

.video-description {
  font-size: 14px;
  width: 270px;
  line-height: 18px;
  opacity: 0.6;
  margin-bottom: 40px;
}

.shop {
  color: white;
  font-size: 15px;
  background-color: rgba(255, 0, 0, 0.7);
  padding: 18px;
  text-align: center;
  margin-bottom: 50px;
}

.exercises {
  font-family: Arial, Helvetica, sans-serif;
}
.get-started {
  color: white;
  background-color: green;
  border: none;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}
.d {
  display: inline-block;
  text-align: center;
}
.e {
  display: inline-block;
  text-align: center;
}
.buy {
  color: white;
  background-color: blue;
  border: none;
  border-radius: 15px;
  padding: 6px 10px;
  cursor: pointer;
}
